/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12 abr. 2022, 13:15:13
    Author     : Dani
*/

#separator {
    -fx-background-color: grey;
}

 #btnEstilo1 {
     -fx-background-color: #5C6699;
     -fx-text-fill: white;
 }
 
 #btnEstilo1:hover {
     -fx-background-color: #CCD5FF;
     -fx-text-fill: white;
 }
 
 #btnEstilo1:pressed {
     -fx-background-color: #474D66;
     -fx-text-fill: white;
 }
 
  #btnEstilo2 {
     -fx-background-color: #5C6699;
     -fx-text-fill: white;
 }
 
 #btnEstilo2:hover {
     -fx-background-color: #CCD5FF;
     -fx-text-fill: white;
 }
 
 #btnEstilo2:pressed {
     -fx-background-color: #474D66;
     -fx-text-fill: white;
 }
 
  #btnEstilo3 {
     -fx-background-color: #5C6699;
     -fx-text-fill: white;
 }
 
 #btnEstilo3:hover {
     -fx-background-color: #CCD5FF;
     -fx-text-fill: white;
 }
 
 #btnEstilo3:pressed {
     -fx-background-color: #474D66;
     -fx-text-fill: white;
 }

